.collection-item{
width:22%;
display:flex;
flex-direction: column;
align-items: center;
height: 320px;
position: relative;
.image{
    width:100%;
    height:95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;

}
.collection-footer
{
    width:100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

.name{
    width: 90%;
    margin-bottom:15px;
}}
.custombutton{
    margin-left: 0;
    width:100%;
    opacity: 0.9;
    position: absolute;

    top:245px;
display: none;
}
&:hover{
    .image{
        opacity: 0.8;
    }
    .custombutton{
        display: flex;
        justify-content: center;
    }
}}
